.completed {
    text-decoration: line-through;
}
.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 0.5rem; /* Espaço entre os ícones */
}
.task-list-container {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #fff;
}
.task-list-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #007bff; /* Cor principal */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra leve */
    font-family: 'Arial', sans-serif; /* Fonte moderna */
    border-bottom: 2px solid #007bff; /* Linha embaixo do título */
    padding-bottom: 0.5rem;
}
.task-list-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between; /* Espaço entre o texto e o contêiner dos ícones */
}
.task-list-item:last-child {
    border-bottom: none;
}
.edit-input {
    display: none;
    margin-right: 0.5rem;
}
.editing .task-text {
    display: none;
}
.editing .edit-input {
    display: inline;
}
.editing .save-button {
    display: inline;
}
.save-button {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
.icon-container {
    display: flex;
    align-items: center;
}
.modal-content {
    border-radius: 0.5rem;
}
.modal-header {
    background-color: #007bff;
    color: white;
}
.modal-footer {
    border-top: none;
}

.list-group-item {
    border-bottom: 1px solid #dee2e6; /* cor da borda inferior */
}

/* Remove a borda inferior do último item da lista */
.list-group-item:last-child {
    border-bottom:none
}